body
    font-family: sans-serif
    text-align: center

    &.admin
        main

        .header-content
            display: flex
            align-items: center
            gap: 1rem

            &> *
                display: inline-block
